<!DOCTYPE html>
<html lang="en">
  <%= render 'layouts/head_tag' %>
  <body>   

  <%= render :partial => 'global/header' -%>   
    <%= yield %> 
  <%= render :partial => 'global/footer' -%>     
  </div>

</html>
