<div class="row" style="background-color:#ffffff; height:30px; padding-top:5px; margin-top:10px;">  
<div  class="container" style="color:#000; margin-bottom:0px !important; ">     
		Copyright &copy; 2013 All Rights Reserved. Powered by  </a>
</div>  
</div>