<div class="row" style="background-color:#3f599e; height:90px;"> 
		<div class="container">  
		<div class="col-lg-6">  
		   <%= render :partial => 'global/logo' -%>  
		  <label>  <a style=" color:#FFF; " href="/static/company"> Company </a>  </label> &nbsp;  &nbsp;  <label>  <a style=" color:#FFF; " href="/static/what_is_it"> What is it?</a>  </label> &nbsp;  &nbsp;  <label> <a style="color:#ffffff" href="/static/support_and_tour"> Support &amp; Tour </a>  </label>  
    </div>
		<div class="col-lg-6 pull-right"> 
		<%= render :partial => 'global/login_form' -%> 
		</div>
  </div>   
</div>